<!DOCTYPE html>

<html>
<head>
    <title>Not Found</title>
    <link rel="icon" href="../../../public/img/weather.png">

    <link rel="stylesheet" href="./css/styles.css">

</head>
<body>
    <div class="class-maincontent">
         {{>header}}
    <h1> {{message}}</h1>
    

    </div>
       

    {{>footer}}
</body>
</html>